<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
    <head lang="en">
        <meta charset="UTF-8" />
        <title> {{ resource.name }} </title>
    </head>
    <body>
      <a href="/resources/"> Back to resources </a>
      <h3> {{ resource.name }} </h3>
      <img src={{resource.url}} />
      <p> {{ resource.notes }} </p>
      <p>
        <form method="POST" action="/resources/{{resource.id}}/">
          {% csrf_token %}
          <input type="submit" value="delete" />
        </form>
      </p>
      <p>
        <form method="GET" action="/logout/">
          {% csrf_token %}
          <input type="submit" value="logout" />
        </form>
      </p>
    </body>
</html>