<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
    <head lang="en">
        <meta charset="UTF-8" />
        <title>Homepage</title>
    </head>
    <body>
 
      <h1> Töttöröö </h1>

      <p>
        <p>
          <a href="/add/"> Add new resource </a>
        </p>
        <p>
          <a href="/resources/"> List of resources </a>
        </p>
      </p>

      <p>
        <form method="POST" action="/logout/">
          {% csrf_token %}
          <p> You are logged in as {{ user.get_username }}</p>
          <input type="submit" value="logout" />
        </form>
      </p>

    </body>
</html>