<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
    <head lang="en">
        <meta charset="UTF-8" />
        <title> Resources </title>
    </head>
    <body>
      <a href="/"> Back to home </a>
      <h1> List of added resources </h1>
      <ul>
        {% for resource in resources %}
          <li>
            <a href="/resources/{{ resource.id }}"> {{ resource.name }} </a>
          </li>
        {% endfor %}
      </ul>
      <p>
        <form method="GET" action="/logout/">
          {% csrf_token %}
          <input type="submit" value="logout" />
        </form>
      </p>
    </body>
</html>