<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
    <head lang="en">
        <meta charset="UTF-8" />
        <title> Resources </title>
    </head>
    <body>

      <a href="/"> Back to home </a>
      <h1> List of added resources </h1>

      <p style="color: red;"> {{ error }} </p>

      <form action="/resources/" method="GET">
        <input type="text" name="filter" id="filter" size="75" />
        <button type="submit" > Filter </button>
      </form>
      <br/>
      <a href="/resources/"> <button>Clear filter</button></a>

      <ul>
        {% for resource in resources %}
          <li>
            <a href="/resources/{{ resource.id }}"> {{ resource.name }} </a>
          </li>
        {% endfor %}
      </ul>

      <p>
        <form method="GET" action="/logout/">
          {% csrf_token %}
          <p> You are logged in as {{ user.get_username }}</p>
          <input type="submit" value="logout" />
        </form>
      </p>

    </body>
</html>